.auth-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth-navbar {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.auth-navbar h3 {
  margin-top: 0.6rem;
  font-family: "Stack Sans Notch";
}

.auth-logo {
  width: 2rem;
  height: 2rem;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  text-align: center;
}

.greetings h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--foreground);
  margin-bottom: 0.5rem;
}

.greetings h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark-grey);
  margin-right: 10.2rem;
}

.whole-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin: auto;
  min-height: 500px;
  width: 100%;
  max-width: 500px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.auth-switch {
  text-align: center;
  margin-top: 20px;
  color: var(--dark-grey);
}

.auth-link {
  color: var(--primary);
  cursor: pointer;
  font-weight: 600;
  transition: var(--transition);
}

.auth-link:hover {
  color: var(--secondary);
  text-decoration: underline;
}
