.homepage-container {
  max-width: 100%;
  margin: auto;
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  padding: 10px;
  min-height: 100vh;
}

.homepage-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--selection-background);
  box-shadow: var(--card-shadow);
}

.homepage-navbar .left-section {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.homepage-navbar .center-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homepage-navbar .center-logo h2 {
  margin-top: 1.2rem;
  font-family: "Stack Sans Notch";
}

.auth-logo {
  margin-top: 0.25rem;
}

.homepage-navbar .right-section {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  gap: 1rem;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
  font-family: "PT Sans";
}

:root.dark .username {
  background: linear-gradient(
    -45deg,
    hsl(var(--hue), 100%, 60%),
    hsl(calc(var(--hue) + 60deg), 100%, 60%),
    hsl(calc(var(--hue) + 120deg), 100%, 60%),
    hsl(calc(var(--hue) + 180deg), 100%, 60%)
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rgb-cycle 3s linear infinite;
}

.custom-profile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
