.homepage-container {
  max-width: 100%;
  margin: auto;
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  padding: 10px;
  min-height: 100vh;
}

.homepage-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--selection-background);
  box-shadow: var(--card-shadow);
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
}

.custom-profile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
