.chatbot {
  margin-top: 100px;
}

.chatbot-background {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.chatbot-top-heading {
  display: grid;
  grid-template-columns: 1fr auto 0fr;
  align-items: center;
}

.chatbot-top-heading .chatbot-heading-left-section {
  justify-self: start;
  align-items: center;
}

.chatbot-heading-text.heading-move-up-down {
  animation: move-up-down 1s ease-in-out infinite;
}

.chatbot-top-heading .chatbot-heading-right-section {
  justify-self: end;
  align-items: center;
}
