.create-todo-form {
  margin-top: 2rem;
}

.display-todos-main {
  margin-top: 1.25rem;
}

.display-todo-background {
  padding: 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.display-todos-counter {
  margin-left: 0.625rem;
}

#display-todos-card {
  height: 20rem;
  overflow: auto;
}

.display-todos-completed-message {
  text-align: center;
  color: #999;
  padding: 1.25rem;
}

.display-todos-loader {
  text-align: center;
  padding: 0.625rem;
}

.todo-item-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.todo-checkbox-button {
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}

.todo-content {
  flex: 1;
}

.todo-description {
  text-decoration: none;
  color: var(--foreground);
}

.todo-description.completed {
  text-decoration: line-through;
  color: var(--dark-grey);
}

.todo-category,
.todo-created-at {
  margin-top: 0.25rem;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  text-align: center;
  border-radius: 2rem;
  color: #212529;
  background: linear-gradient(135deg, #4cc9f0, #0d6efd);
  font-size: 0.7rem;
  font-weight: 700;
  min-width: fit-content;
}

.todo-created-at {
  border: 1px solid var(--selection-foreground);
  background: none;
  color: var(--selection-foreground);
}

.todo-category.completed,
.todo-created-at.completed {
  background: none;
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  padding: 0.2rem 0.8rem;
}

.todo-category {
  margin-right: 0.25rem;
}

.todo-list-main {
  padding: 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
  border: 1px solid var(--selection-background) !important;
  box-shadow: none;
}

.gradient-button-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.todo-edit-button {
  margin-right: 0.25rem;
  width: 3.8rem;
}

.todo-delete-button {
  margin-left: 0.25rem;
}

.todo-submit-button {
  margin-top: 0.75rem;
  width: auto;
  max-width: 100%;
}

.todo-submit-button-container {
  text-align: right;
}

.todo-modal-update-button {
  height: 100%;
}

.todo-modal-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

@media (max-width: 968px) {
  .todo-category {
    margin: 0.25rem 0.25rem 0.7rem 0rem;
    padding: 0.2rem 0.8rem;
  }

  .todo-submit-button {
    width: auto;
    max-width: 100%;
    height: auto;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .todo-category {
    margin: 0.25rem 0.25rem 0.7rem 0rem;
    padding: 0.2rem 0.8rem;
  }

  .todo-submit-button {
    width: auto;
    max-width: 100%;
    height: auto;
    font-size: 0.9rem;
  }

  .todo-modal-cancel-button {
    margin-left: 16.6rem;
  }
}

@media (max-width: 480px) {
  .todo-category {
    margin: 0.25rem 0.25rem 0.7rem 0rem;
    padding: 0.2rem 0.8rem;
  }

  .todo-submit-button {
    width: auto;
    max-width: 100%;
    height: auto;
    font-size: 0.9rem;
  }

  .todo-modal-cancel-button {
    margin-left: 13.1rem;
  }
}

@media (max-width: 375px) {
  .todo-category {
    margin: 0.25rem 0.25rem 0.7rem 0rem;
    padding: 0.2rem 0.8rem;
  }

  .todo-submit-button {
    width: auto;
    max-width: 100%;
    height: auto;
    font-size: 0.85rem;
  }

  .todo-modal-cancel-button {
    margin-left: 6.5rem;
  }
}
