.create-todo-form {
  margin-top: 2rem;
}

.display-todos-main {
  margin-top: 1.25rem;
}

.display-todo-background {
  padding: 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.display-todos-counter {
  margin-left: 0.625rem;
}

#display-todos-card {
  height: 20rem;
  overflow: auto;
}

.display-todos-completed-message {
  text-align: center;
  color: #999;
  padding: 1.25rem;
}

.display-todos-loader {
  text-align: center;
  padding: 0.625rem;
}

.todo-item-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.todo-checkbox-button {
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}

.todo-content {
  flex: 1;
}

.todo-description {
  text-decoration: none;
  color: var(--foreground);
}

.todo-description.completed {
  text-decoration: line-through;
  color: var(--dark-grey);
}

.todo-category {
  margin-top: 0.25rem;
  width: 10%;
  text-align: center;
  border-radius: 2rem;
  color: #212529;
  background: linear-gradient(135deg, #4cc9f0, #0d6efd);
  font-size: 0.7rem;
  font-weight: 700;
}

.todo-category.completed {
  background: none;
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
}

.todo-list-main {
  padding: 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
  border: 1px solid var(--selection-background) !important;
  box-shadow: none;
}

.todo-delete-button {
  margin-left: 0.5rem;
}

.todo-submit-button {
  margin-top: 0.75rem;
  width: 100%;
}

.todo-modal-cancel-button {
  margin-left: 0.5rem;
}

@media (max-width: 968px) {
  .todo-category {
    margin: 0.25rem 0rem 0.7rem 0rem;
    width: 20%;
  }

  .todo-submit-button {
    width: 90%;
    height: 90%;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .todo-category {
    margin: 0.25rem 0rem 0.7rem 0rem;
    width: 20%;
  }

  .todo-submit-button {
    width: 95%;
    height: 95%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .todo-category {
    margin: 0.25rem 0rem 0.7rem 0rem;
    width: 28%;
  }

  .todo-submit-button {
    margin-top: 0.15rem;
    width: 90%;
    height: 90%;
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .todo-category {
    margin: 0.25rem 0rem 0.7rem 0rem;
    width: 38%;
  }

  .todo-submit-button {
    margin-top: 0.15rem;
    width: 85%;
    height: 85%;
    font-size: 0.85rem;
  }
}
