.theme-toggle-button {
  min-width: 5rem;
  height: 2.3rem;
  background-color: var(--primary);
  color: white;
  border: none;
  transition: var(--transition);
}

.theme-toggle-button:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

.theme-toggle-button:active {
  transform: scale(0.95);
}

.theme-toggle-button .anticon {
  font-size: 1.2rem;
}
